<body>

<div class="header">
  <div>
      <h1>Help Me Decide!</h1>
      <div>
      <p1>Vote 
          <b>Anytime, Anywhere</b></p1>
      </div>
      </div>
</div>

</body>


  <% @posts.each do |post| %>
     
    <div class="card movie_card">
      
        <div class="img">
    <% if post.image.attached? %>
           <%= link_to(image_tag(url_for(post.image),:class => "img"), post_path(post.id)) %>
    <% end %>  
        </div>
    <div class="card-body">
        <h5 class="card-title"><%= post.description %></h5>
          <span class="movie_info"><%= post.user.username %></span>
      </div>
</div>
  <% end %>

<div id="demo"></div>

<script type="text/javascript">
    var x=document.getElementById("demo");
    getLocation();
    function getLocation()
    {
      if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function showPosition(position)
    {
          var lng = position.coords.longitude;
        var lat = position.coords.latitude;
        var site = lat.toFixed(6)+','+lng.toFixed(6);
        console.log(site)
           document.getElementById("demo").innerHTML = site;
    }

</script>
