<body>
<div class="header">
  <div>
      <h1>Help Me Decide!</h1>
      <div>
      <p1>Vote 
          <b>Anytime, Anywhere</b></p1>
      </div>
      </div>
</div>
</body>

<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <div class="user">
    <div class="avatar">
      <%= image_tag ("snoopy.jpg") %>
    </div>
    <div class="username">
      <%= post.user.username %>
    </div>
      </div>
  
  
  <% if post.image.attached? %>
           <%= link_to(image_tag(url_for(post.image), :size => "400x500"), post_path(post.id)) %>
           <% end %>
        
    <div class="description">
    <%= post.description %>
    </div>

      
    </section>
  <% end %>
</div>


<div id="demo"></div>
<script type="text/javascript">
    var x=document.getElementById("demo");
    getLocation();
    function getLocation()
    {
      if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
      else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function showPosition(position)
    {
          var lng = position.coords.longitude;
        var lat = position.coords.latitude;
        var site = lat.toFixed(6)+','+lng.toFixed(6);
        console.log(site)
           document.getElementById("demo").innerHTML = site;
    }

</script>