// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 { color: #fdfcfb; 
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 180px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; }

.header {
    text-align: center;
    color: #fdfcfb;
     font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px;
}

p {
    color: #4c4a37; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px; 
    line-height: 32px;
    margin: 0 0 24px;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


    .img {
        -webkit-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
        width: 22rem;
    }
    .img {
      pointer-events: none;
    }
.imag:hover {
  color: #6ABCEA;
}

    .movie_card{
      padding: 0 !important;
      width: 22rem;
      margin:14px; 
      border-radius: 10px;
      background:rgba(255,255,255,1);
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5), 0 4px 15px 0 rgba(0, 0, 0, 0.5);
    }
    .movie_card img{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 33rem;
    }
    .movie_info{
      color: #5e5c5c;
    }

    .movie_info i{
      font-size: 20px;
    }
    .card-title{
      width: 80%;
      height: 4rem;
      font-size: 20px;
    }
    .play_button{
      background-color: #ff3d49;
        position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      right: 20px;
      bottom: 111px;
      font-size: 27px;
      padding-left: 21px;
      padding-top: 16px;
      color: #FFFFFF;
      cursor: pointer;
    }

    .credits{
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 8px;
      border: 2px solid #8e24aa;
      font-size: 18px;
    }
    .credits .card-body{
      padding: 0;
      
    }
    .credits p{
      padding-top: 15px;
      padding-left: 18px;
    }
    .credits .card-body i{
      color: #8e24aa;
    }
  